@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>Graph API result</div>
<div>@ViewData["GraphApiResult"]</div>

<div aria-live="polite"  aria-atomic="true" style="position: relative; min-height: 200px;">
    <!-- Position it -->
    <div id="notification-space" style="position: absolute; top: 0; right: 0;">

        <!-- Then put toast-template within -->
        <partial name="_Notification"></partial>
       
    </div>
</div>


<script src="~/js/features/notifications.js"></script>